.low-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;
    padding: 10px 7px;

}

.low-bar .message-input {
    display: flex;
    background-color: #101B20;
    color: #a2a0a0;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}

.low-bar .message-input .emojis-message {
    display: flex;
    align-items: center;
}

.low-bar .message-input .message-field {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: white;
    outline: transparent;
}

.low-bar .message-input button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.low-bar .message-input i {
    color: #a2a0a0;
    padding: 0 5px;
    font-size: 20px;
    align-items: center;
}

.low-bar .message-input .emojis-message .emojis {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 0 5px;
}

.low-bar .message-input .form-options {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.low-bar .message-input .form-options button {
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    cursor: pointer;
}

.low-bar .form-options .send {
    border-radius: 80px;
    border: none;
    background-color: rgb(34, 184, 69);
    justify-content: center;
    align-items: center;
    margin-left: 8px;
} 


.low-bar .form-options .send i {
    color: black;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 768px */
@media (min-width: 768px) {
    .low-bar {
        padding: 12px 4px;
        height: 75px;
    }

    .low-bar .message-input {
        height: 55px;
    }

    .low-bar .message-input .message-field {
        font-size: 18px;
    }

    .low-bar .message-input i {
        font-size: 18px;
    }

    .low-bar .form-options .send {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }

    .low-bar .form-options .send i {
        font-size: 18px;
    }

    .low-bar .message-input .form-options button {
        width: 30px;
        height: 30px;   
        margin: 0 5px;
    }
}

/* 1024px */
@media (min-width: 1024px) {
    .low-bar {
        padding: 12px 5px;
        height: 80px;
    }

    .low-bar .message-input {
        height: 60px;
    }

    .low-bar .message-input .message-field {
        font-size: 17px;
    }

    .low-bar .message-input i {
        font-size: 20px;
    }

    .low-bar .form-options .send {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .low-bar .form-options .send i {
        font-size: 17px;
    }

    .low-bar .message-input .form-options button {
        width: 35px;
        height: 35px;   
        margin: 0 5px;
    }
}

/* 1440px */

@media (min-width: 1440px) {
    .low-bar {
        padding: 14px 7px;
        height: 90px;
    }

    .low-bar .message-input {
        height: 65px;
    }

    .low-bar .message-input .message-field {
        font-size: 19px;
    }

    .low-bar .message-input i {
        font-size: 21px;
    }

    .low-bar .message-input .form-options button {
        width: 40px;
        height: 40px;   
        margin: 0 5px;
    }
}

/* 2000px */

@media (min-width: 2000px) {
    .low-bar {
        padding: 15px 8px;
        height: 100px;
    }

    .low-bar .message-input {
        height: 70px;
    }

    .low-bar .message-input .message-field {
        font-size: 23px;
    }

    .low-bar .message-input i {
        font-size: 25px;
    }

    .low-bar .message-input .form-options button {
        width: 50px;
        height: 50px;   
        margin: 0 5px;
    }
}
